.action-button {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  background-color: rgb(var(--white) 1);
  cursor: pointer;
  transition:
    background-color 0.25s,
    transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(var(--white) 0.7);
  }

  &:active {
    transform: scale(0.88);
  }

  &--success {
    background-color: rgb(var(--success));
    color: rgb(var(--white));

    &:hover {
      background-color: rgb(var(--success));
    }
  }
}
